.title {
    font-family:Arima Madurai;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    text-align: center;
    letter-spacing: -0.015em;
}

.subtitle{
    font-family:Arima Madurai;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.015em;
}

.googleMap{
    outline: black;
}